@page
@model LinkAggregatorWeb.Pages.User.StatisticsModel

@{
    ViewData["Title"] = "Hyperlinks";
}
<h1>Your URLs statistics</h1>

<div class="row">
    <div class="col-md-6">
        <canvas id="barChart" width="400" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="barChart2" width="400" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="barChart3" width="400" height="200"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="visitChart" width="400" height="200"></canvas>
    </div>
</div>
<br />

<div class="container">
    <h1>All Activities</h1>
    <table class="table table-bordered table-striped w-100">
        <thead>
            <tr>
                <th style="color:#2a9fd6">HyperLink</th>
                <th>Ip Address</th>
                <th style="color:#2a9fd6">Localization</th>
                <th>Date Visit</th>
                <th style="color:#2a9fd6">Time Visit</th>
                <th>Referer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stat in Model.Statistics)
            {
                <tr class="expanded-row">
                    <td>@stat.HyperLinkName</td>
                    <td>@stat.IpNumber</td>
                    <td>@stat.Localization</td>
                    <td>@stat.DateVisit</td>
                    <td>@stat.TimeVisit</td>
                    <td>@stat.Referrer</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        var jsonUrlVisits = @Html.Raw(Model.urlVisitAmountsJson);
        var jsonMostActiveIp = @Html.Raw(Model.mostActiveIpAddressesJson);
        var jsonAllLocalizalizations = @Html.Raw(Model.allLocalizalizationsJson);
        var jsonMonthlyVisitsJson = @Html.Raw(Model.monthlyVisitsJson);

       
        var barData = {
            labels: jsonUrlVisits.map(item => item.Name),
            datasets: [{
                label: "Total Visits",
                data: jsonUrlVisits.map(item => item.TotalVisits),
                backgroundColor: "rgba(140, 2, 2, 0.8)",
                borderColor: "rgba(140, 2, 2, 0.8)",
                borderWidth: 1
            }]
        };

        var bar2Data = {
            labels: jsonAllLocalizalizations.map(item => item.Localization),
            datasets: [{
                label: "URLs was visit from",
                data: jsonAllLocalizalizations.map(item => item.TotalVisits),
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderWidth: 1
            }]
        };

        var bar3Data = {

            labels: jsonMostActiveIp.map(item => item.IpAddress),
            datasets: [{
                label: "Most active IP addresses",
                data: jsonMostActiveIp.map(item => item.TotalVisits),
                backgroundColor: "rgb(102, 0, 204, 0.4)",
                borderColor: "rgb(102, 0, 204, 1)",
                borderWidth: 1
            }]
        };


            var ctxBar = document.getElementById('barChart').getContext('2d');
            var ctxBar2 = document.getElementById('barChart2').getContext('2d');
            var ctxBar3 = document.getElementById('barChart3').getContext('2d');
            

            var barChart = new Chart(ctxBar, {
                type: 'bar',
                data: barData
            });

            var barChart2 = new Chart(ctxBar2, {
                type: 'bar',
                data: bar2Data
            });

            var barChart3 = new Chart(ctxBar3, {
                type: 'bar',
                data: bar3Data
            });


        var ctxScatter = document.getElementById('visitChart').getContext('2d');
        var jsonMonthlyVisitsJson = @Html.Raw(Model.monthlyVisitsJson);

            var scatterChart = new Chart(ctxScatter, {
            type: 'line',
            data: {
                labels: jsonMonthlyVisitsJson.map(item => item.DateVisit),
                datasets: [{
                    label: 'Daily visits',
                    data: jsonMonthlyVisitsJson.map(item => item.TotalVisits),
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            }
        });
    </script>S
}
